/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 480px;
  background-color: #0b132b;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

/* My preferred colors!
0b132b - Navy B
1c2541 - Slightly lighter NB
5bc0be - Verdigris
FFFFFF - White


*/
