/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 480px;
  background-color: #223843;
}
